@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*CSS tasoa armotonta purkkaa （＞人＜；）*/

.App {
  display: flex;
  align-items: left;
  font-family: 'Roboto Condensed', sans-serif;
}

.UusiHenkilo, .HenkiloLista {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #397238;
  padding: 1em;
  margin: 1em;
}

.LisaaLomakkeenOsa {
  display: flex;
  flex-direction: column;
  margin: 0.75em 0.5em;
}

#LisaaNappi {
  margin: 1em 0.5em;
  background-color: #397238;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: solid 2px #397238;
}

.KolumniOtsikko {
  width: 10em;
}

.KolumniTeksti {
  width: 10em;
}

.KolumniIka {
  width: 4em;
  text-align: center;
}

.KolumniNappi {
  width: 4em;
}

.MuutaIkaInput {
  width: 3.5em;
}

.MuutaNimiInput {
  width: 9.5em;
}

.KolumniJarjestaNappi {
  background-color: #397238;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  border: solid 2px #397238;
  border-radius: 5px;
}

.RiviNappi {
  background-color: #397238;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 5em;
  border: solid 2px #397238;
  border-radius: 5px;
}

h1, caption {
  font-size: 1.25em;
  font-weight: bold;
}

caption {
  margin-bottom: 1em;
}

table{
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #397238;
  padding: 5px;
}

.KolumniJarjesta:hover, #LisaaNappi:hover, .RiviNappi:hover {
  background-color: white;
  color: #397238;
  border: solid 2px #397238;
}

.MuutaNimiInput:focus {
  border-color: #397238;
}

span {
  margin-bottom: 5px;
}

input{
  font-size: 1em;
}